@import url(sanitize.css);
* {
  margin: 0;
}
body {
  font-family: 'DM Sans', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 288px);
  grid-template-rows: 356px 91px 187px 278px;
  width: 1440px;
  height: 1029px;
  /* border: 1px solid black; */
  background-color: hsl(0, 0%, 97%);
  padding-top: 66px;
  padding-left: 144px;
}
/* ----------フォントサイズなど---------- */
h1 {
  font-size: 58px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 0;
}
h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -2px;
  margin-left: 25px;
  margin-top: 25px;
}
p {
  line-height: 1.2em;
  font-size: 18px;
}
/* ----------ふわりと現れる-1---------- */
.fade-slide-1 {
  animation: fs1 0.5s;
}
@keyframes fs1 {
  from {
    opacity: 0%;
    transform: translateY(100px);
  }
  to{
    opacity: 100%;
    transform: translateY(0px);
  }
}
/* ----------ふわりと現れる-2----------- */
.fade-slide-2 {
  animation: fs2 1.5s;
}
@keyframes fs2 {
  from {
    opacity: 0%;
    transform: translateX(100px);
  }
  to{
    opacity: 100%;
    transform: translateX(0px);
  }
} 
/* ----------ふわりと現れる-3----------- */
.fade-slide-3 {
  animation: fs3 1.5s;

}
@keyframes fs3 {
  from {
    opacity: 0%;
    transform: translateX(-100px);
  }
  to{
    opacity: 100%;
    transform: translateX(0px);
  }
} 


/* ----------box1---------- */
.box1 {
  margin: 16px;
  grid-column: 2/4;
  grid-row: 1/2;
  background-color: hsl(256, 67%, 59%);
  text-align: center;
  border-radius: 9px;
}
.box1 h1 {
  margin-top: 67px;
  color: white;
}
.box1 img {
  margin-top: 20px;
  height: 40px;
}
.box1 .line2 {
  color: hsl(39, 100%, 71%);
}
.box1 p {
  margin-top: 10px;
  color: white;
}
.box1 .line2::after {
  content: '\A';
  white-space: pre;
}
/* ----------box2---------- */
.box2 {
  margin: 16px;
  grid-column: 2/3;
  grid-row: 2/4;
  background-color: hsl(0, 0%, 100%);
  border-radius: 9px;
  overflow: hidden;
}
.box2 img {
  height: 65px;
  margin-top: 25px;
  margin-left: 25px;
}
.box2 h2 {
  margin-top: 20px;
  margin-left: 25px;
  text-align: left;
  color: black;
}
.box2 .line1::after {
  content: '\A';
  white-space: pre;
}
.box2 .line2::after {
  content: '\A';
  white-space: pre;
}
.box2 .line5::after {
  content: '\A';
  white-space: pre;
}
/* ----------box3---------- */
.box3 {
  margin: 16px;
  grid-column: 3/4;
  grid-row: 2/4;
  background-color: hsl(39, 100%, 71%);
  border-radius: 9px;
  overflow: hidden;
}
.box3 h2 {
  margin-left: 25px;
  text-align: left;
  color: black;
}
.box3 img {
  width: 208px;
  margin-top: 20px;
  margin-left: 25px;
}
.box3 .line1::after {
  content: '\A';
  white-space: pre;
}
.box3 .line2::after {
  content: '\A';
  white-space: pre;
}
.box3 .line3::after {
  content: '\A';
  white-space: pre;
}
/* ----------box4---------- */
.box4 {
  margin: 16px;
  grid-column: 4/5;
  grid-row: 1/4;
  background-color: hsl(254, 88%, 90%);
  border-radius: 9px;
  overflow: hidden;
}
.box4 h2 {
  margin-left: 25px;
  text-align: left;
  color: black;
  margin-top: 52px;
}
.box4 img {
  height: 320px;
  margin-left: 26px;
  margin-top: 20px;
}
.box4 p {
  margin-left: 25px;
  margin-top: 25px;
  text-align: left;
  color: black;
}
.box4 .line1::after {
  content: '\A';
  white-space: pre;
}
.box4 .p-line1::after {
  content: '\A';
  white-space: pre;
}
.box4 .p-line3::after {
  content: '\A';
  white-space: pre;
}
.box4 .p-line4::after {
  content: '\A';
  white-space: pre;
}
/* ----------box5---------- */
.box5 {
  margin: 16px;
  grid-column: 3/5;
  grid-row: 4/5;
  display: flex;
  background-color: hsl(256, 67%, 59%);
  border-radius: 9px;
  align-items: center;
}
.box5 img {
  height: 200px;
  margin-left: 25px;
}
.box5 h2 {
  color: white;
  font-size: 2.6em;
  line-height: 0.9em;
  margin-top: 0;
  margin-left: 8px;
}
.box4 .line1::after {
  content: '\A';
  white-space: pre;
}
.box4 .line2::after {
  content: '\A';
  white-space: pre;
}
/* ----------box6---------- */
.box6 {
  margin: 16px;
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: hsl(0, 0%, 100%);
  border-radius: 9px;
}
.box6 h2 {
  margin-top: 35px;
  font-size: 60px;
}
.box6 p {
  margin-left: 25px;
  margin-top: 20px;
}
.box6 img {
  height: 68px;
  margin-top: 37px;
  margin-left: 25px;
}
/* ----------box7---------- */
.box7 {
  margin: 16px;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: hsl(31, 66%, 93%);
  border-radius: 9px;
}
.box7 h2 {
  font-size: 2.4em;
  line-height: 1em;
  margin-top: 82px;
}
.box7 img {
  width: 190px;
  margin-left: 33px;
  margin-top: 27px;
}
.t-violet {
  color: hsl(256, 67%, 59%);
}
.box7 .line1::after {
  content: '\A';
  white-space: pre;
}
.box7 .line2::after {
  content: '\A';
  white-space: pre;
}
.box7 .line3::after {
  content: '\A';
  white-space: pre;
}
/* ----------box8---------- */
.box8 {
  margin: 16px;
  grid-column: 1/2;
  grid-row: 3/5;
  background-color: hsl(39, 100%, 71%);
  border-radius: 9px;
}
.box8 h2 {
  font-size: 2.4em;
  line-height: 1em;
}
.box8 img {
  height: 224px;
  margin-left: 25px;
  margin-top: 48px;
}
.box8 .line1::after {
  content: '\A';
  white-space: pre;
}
.box8 .line2::after {
  content: '\A';
  white-space: pre;
}
